apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "hackathon-todo.fullname" . }}-postgres-pvc
  labels:
    {{- include "hackathon-todo.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.postgres.storage }}
